DATABASE_URL="postgresql://Tinkergyan:Tinkergyan_dev@localhost:5432/Tinkergyan"
JWT_SECRET="change-me-to-a-32-char-minimum-secret"
REDIS_URL="redis://localhost:6379"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
DOCKER_SOCKET="/var/run/docker.sock"
MAX_COMPILE_TIMEOUT=30000
COMPILE_CONCURRENCY=5
